
@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-section">
    <div class="text-container">
        <h1 class="display-4">...ואכלת, ושבעת, וברכת</h1>
        <h2 class="display-4">- אתר המתכונים הגדול בעולם -</h2>
    </div>
    <div class="image-row">
        <div class="circle">
            <img src="https://smokeit.co.il/wp-content/uploads/2021/06/Webp.net-resizeimage-1.jpg" alt="Dish 1" />
        </div>
        <div class="circle">
            <img src="https://www.cookie-fairy.com/wp-content/uploads/2020/04/white-bread-1.jpg" alt="Dish 2" />
        </div>
        <div class="circle">
            <img src="https://veg.co.il/wp-content/uploads/soups-e1599485833810.jpg.850x850@2x.webp?v=3" alt="Dish 3" />
        </div>
        <div class="circle">
            <img src="https://media.reshet.tv/image/upload/t_grid-item-large/v1490723450/baked-fish-2_s43thp.webp" alt="Dish 4" />
        </div>
    </div>
</div>
